* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: linear-gradient(to right, #d4af37, #ffffff, #d4af37); /* Gradiente dorado */
  padding: 2vh 0; /* Espaciado relativo a la altura de la ventana */
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vh; 
  height: 20vh; 
}

.header-text {
  font-size: 8vh; 
  font-weight: bold;
  color: #000;
  margin: 0;
  text-align: center; 
}

.header-logo {
  max-height: 20vh; 
  object-fit: contain;
}

.navbar {
  padding: 1vh 2vw;
}

.navbar ul {
  list-style-type: none;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 3vh; /* Espaciado entre elementos del navbar */
}

.navbar li {
  padding: 1vh 2vh; /* Espaciado interno para los botones */
  border-radius: 5px; /* Bordes redondeados */
  transition: all 0.3s ease; /* Animación suave */
}

.navbar a {
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5vh; /* Ajusta el tamaño del texto */
}

.navbar li:hover {
  background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco transparente al pasar el ratón */
}

.navbar a:hover {
  color: black; /* Cambia el color del texto a negro */
}




.navbar li{
   
    padding: 15px;
    
}

.nosotros__flex{
  display: flex;
  gap: 10px;
  justify-content: center;
  text-align: center;
}

.img__inicio{
  width:60vh;
  height: 60vh;
  border:5px solid #d4af37;
  border-radius: 50%;
}

.mision__flex{
  display: flex;
  gap: 10px;
  justify-content: center;
  text-align: center;
  flex-direction: row-reverse;
}

.vision__flex {
  display: flex; /* Crea un contenedor flexible */
  flex-direction: row; /* Alinea los hijos en una fila */
  gap: 10px; /* Espacio entre la imagen y el párrafo */
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Alinea verticalmente los elementos */
  text-align: left; /* Alinea el texto a la izquierda */
  margin: 20px auto; /* Espaciado alrededor del contenedor */
}


.one{
    width:100%;
    height: 100vh;
    background-size: cover; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('fondo.jpg');
    background-position: center;
    background-size: cover;
}

.content{
    height: 250px;
}

.qa3{
color:#d4af37;
font-family: 'Merriweather', serif;
text-align: center;
font-size: 32px;
border-bottom: #000 20px;
}

.fraseprincipal{
    color: white;
    font-size: 40px;
    margin-top:15%;
    margin-left:30px;
    margin-right:30px;
    text-align: center;
}



p{
   
    margin-top:30px;
    text-align: justify;
}

.parrafo{
    font-size: 25px;
    font-family:'Montserrat', sans-serif;
    color: black;
    text-align: center;
}

.parrafo__nosotros, .parrafo__mision, .parrafo__vision,.parrafo{
  font-size: 16px;
  font-family:'Montserrat', sans-serif;
  color:black;
  line-height: 3; /* Espaciado amplio */
  letter-spacing: 0.2px; /* Espaciado sutil */
  margin: 20px 40px 0 40px;
  flex: 1;


}

.parrafo__programas{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color:black;
  line-height: 1.5; /* Espaciado amplio */
  letter-spacing: 0.2px; /* Espaciado sutil */
  margin: 0px 40px 0 40px;
  flex: 1;

}
.qa{
  font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

.h2__programas{
  font-family: 'Merriweather', serif;
  text-align: left;
  font-size: 30px;
  margin-left:48vh;
}




.contenedorm{
    margin: 50px 40px 50px 40px;
    
   
    background-repeat: no-repeat; /* No repetir la imagen */
    background-position: center; /* Centrar la imagen */
    background-size: contain; /* Ajustar el tamaño de la imagen */
    
    
}


.tipoproyecto{
  display: flex;
 
  justify-content: space-around;
}

.tipoproyecto-card{
  text-align: center;
  justify-content: center;
  width: auto;
  height: 30vh;
  padding:5vh;

  margin: 5px;
  border-radius: 10%;
  box-sizing:content-box
}

.tipoproyecto-card-img{
  width:50%;
  height:50%;
  border-radius: 10%;
  border-color: black;
  margin-top: 10px;

}

h5{
  font-size: 20px;
  font-family: sans-serif;
}

.container {
    height: 70vh;
    width: 100vh;
    max-height: 600px;
    max-width: 1200px;
    min-height: 100px;
    min-width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: top;
    margin: 20px auto 20px;
   
  }
  
  .panel {
    height: 270px;
    width: 190px;
    position: relative;
  
    &:hover {
      .card {
        filter: blur(1.5px);
      }
      .card1 {
        background-size: 215% 135%;
      }
      .card2 {
        background-size: 115% 115%;
      }
      .card3 {
        background-size: 155% 115%;
      }
      .title {
        color: rgba(255, 255, 255, 0.2);
      }
      .border {
        border: 1px solid  #FFD700;
      }
      .slide {
        bottom: 0px;
      }
      .ring:before,
      .ring:after {
        transform: translateX(-50%) translateY(-50%) rotate(310deg);
      }
    }
  }
  .ring,
  .card,
  .border,
  .slide,
  .line {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ring {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 170px;
    text-align: center;
  }
  
  .card {
    background: #ffc60d;
    position: relative;
    transition: all 1s;
    height: 270px;
    width: 190px;
    border: 1px solid rgba(255, 255, 255, 1);
  
  }
  
  .card1 {
    background-image: 
        linear-gradient(
          rgba(26, 25, 25, 0.458), /* Color superior del gradiente */
          rgba(33, 31, 31, 0.438)  /* Color inferior del gradiente */
        ),
        url('mediatcion.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .card2 {
    background-image: linear-gradient(
      rgba(26, 25, 25, 0.458), /* Color superior del gradiente */
      rgba(33, 31, 31, 0.438)  /* Color inferior del gradiente */
    ),url("im1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  .card3 {
    background-image:linear-gradient(
      rgba(26, 25, 25, 0.458), /* Color superior del gradiente */
      rgba(33, 31, 31, 0.438)  /* Color inferior del gradiente */
    ), url("img3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .ring:before,
  .ring:after {
    content: "";
    padding: 0.7em 0.4em;
    position: absolute;
    left: 50%;
    width: 115%;
    top: 50%;
    display: block;
    border: 5px solid #50c9c3;
    border-radius: 50%;
    transition: transform 1s;
    transform: translateX(-50%) translateY(-50%) rotate(50deg);
  }
  
  .ring:before {
    border-color:  #d4af37;
    z-index: -1;
  }
  
  .ring:after {
    border-color: #d4af37
  }
  
  
  
  .title {
    font-size: 20px;
    font-weight: 700;
    transition: all 1s;
    top: 0;
  }
  
  .para {
    bottom: 0;
    font-size: 15px;
    font-family: "Raleway";
    padding: 20px;
    margin: 0;
    text-align: center;
  }
  
  .border {
    position: absolute;
    border: 1px solid  #FFD700;
    height: 260px;
    width: 180px;
    transition: border 1s;
    overflow: hidden;
  }
  
  .slide {
    height: 260px;
    width: 180px;
    position: absolute;
    border: 1px solid black;
    bottom: -270px;
    background: rgba(0, 0, 0, 0.5);
    transition: bottom 1s;
    flex-direction: column;
  }
  
  .fa-plane {
    font-size: 16px;
  }

 .viveka{
    display: flex;
    justify-content: center;
    
 }

 .logov{
  width: 40vh; /* O el tamaño deseado */
  height: auto; /* Mantiene las proporciones */
  object-fit: contain; 
    border-right: 5px solid #d4af37;
   
 }

.programas{
    background: linear-gradient(135deg, #FFFBEA 20%, #FFD700 60%, #FFC107 80%, #FFECB3 100%);
    margin: 30px;
    padding:10px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 0 auto;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: 10px;
}
.gallery-item:nth-child(2){
  grid-column: span 3;
}
.gallery-item:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}

.footer {
  background: linear-gradient(to right, #d4af37, #ffffff, #d4af37); /* Gradiente dorado */
  padding: 30px 10px;
  color: #333; /* Color de texto */
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Secciones del footer */
.footer-section {
  flex: 1 1 300px;
  margin: 10px;
  text-align: center;
}

/* Logo */
.footer-logo {
  max-width: 100px;
  margin-bottom: 10px;
}

.footer-title {
  font-size: 1.5em;
  font-weight: 700;
  color: #444;
}

/* Contacto */
.footer-section.contacto p {
  margin: 5px 0;
  font-size: 1em;
  color: #555;
}

#golden-button {
    margin: 10px;
    background: linear-gradient(45deg, #ffd700, #ffa500);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#golden-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#golden-button:active {
    transform: scale(0.95);
}



.programa{
  text-align: center;
}

.frase__parrafo{
  text-align: center;
  font-size: 20px;
  margin: 60px;
  

}

.frase,.proyectoseccion,.funcion{
  border-top: 5px solid #d4af37;
  border-bottom: 5px solid #d4af37;
  margin: 40px 0 40px 0;
  background-image: linear-gradient(rgba(253, 253, 253, 0.458),rgba(243, 241, 241, 0.438)),url('mandala.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;

}
.funcion{
  padding: 30px;
}
.proyectoseccion,.funcion{
  background-image: linear-gradient(rgba(253, 253, 253, 0.458),rgba(204, 202, 202, 0.438));
}

.contenedor__programas{
  border: 2px solid #d4af37;
  background-image: linear-gradient(rgba(253, 253, 253, 0.458),rgba(204, 202, 202, 0.438)),url('logo\ terra\ mastay.png');
  background-size: contain;
  backdrop-filter: blur(15px); /* Efecto de desenfoque */
  padding:30px;
  margin-bottom: 100px;
}

.footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 50%; /* Forma circular */
  width: 120px; /* Tamaño del círculo */
  height: 120px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra suave */
  margin: 0 auto 10px auto; /* Centrado */
}