*{ margin: 0; 
  padding: 0; 
   }

nav{margin:5px}
 .navbar ul {
    margin-top: 10px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
  }

.navbar a {
    display: inline;
    text-decoration: none;
    text-align: center;
    display:center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar li:hover{
   
    background-color: #ffffff;
   
}

.navbar a:hover{ color:black}

.btn{
    background-color: #e5c353;
    border-radius: 30px;
}

.navbar li{
   
    padding: 15px;
    float:center;
}

/* Estilos para el header */
.header {
    background: linear-gradient(to right, #d4af37, #ffffff, #d4af37); /* Gradiente dorado */
    padding: 5px 0; /* Espaciado vertical */
}

/* Contenedor principal del header */
.header-container {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    gap: 20px; /* Espacio entre elementos */
}

/* Estilos para los textos */
.header-text {
    font-size: 40px; /* Tamaño de fuente */
    font-weight: bold;
    color: #000; /* Color del texto */
    margin: 0; /* Elimina márgenes */
}

/* Estilos para el logo */
.header-logo {
    background: none;
    max-height: 100px; /* Ajusta el tamaño máximo del logo */
    object-fit: contain; /* Asegura que el logo mantenga proporciones */
}

.header-viveka{
    display:flex;
    align-items: center;
    margin:30px;
    border-left: 3px solid #d4af37;
    gap: 20px;
}

.imgvi{
    height: 100px;
  margin-left: 20px;}

h2{font-size: 45px;
padding: 0%;
margin-left:5px;}

.contendor__header{
  width: 100%;
  box-sizing: border-box;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(250, 247, 247, 0.7), rgba(253, 252, 252, 0.7)), url('sol.png');
  background-position: center;
  background-size: cover;
  border: 2px solid #d4af37;
  min-height: auto; /* Asegura que ocupe toda la pantalla */
  padding: 5%;
}

h4{
  font-size: 30px;
  text-align: center;
  margin-left: 30px;
}

h3{
  font-size: 25px;
  text-align: center;

}

.h4__header{
  color: #9a7a13;
  letter-spacing: 4px;
  margin: 10% auto 10px auto;
}

P{
  color: black;
  font-size: 20px; /* Escala automáticamente según el ancho del viewport */
  text-align: justify;
  font-family: 'Poppins',sans-serif
  
}

.parrafo__header{
  margin:20px 40px 20px 40px;
  text-align: justify;
 
}


.metas-integrales {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr)); /* Ajusta el tamaño según contenido */
    gap: 8px;
    justify-content:center /* Centra el contenido horizontalmente */;
   
}

.titulos{
  letter-spacing: 2px;
  font-family:'Montserrat', sans-serif;
  text-align: left;
  font-size: 30px;
  color: #d4af37;
  
}

.dos{
  text-align: right;
  margin-right: 35px;
  font-family: 'Times New Roman', Times, serif;
}



.metas,.dirigido{
  margin: 80px auto;
}

.metas-integrales-item {
  border: 2px solid #d4af37;
    height: auto;
    background-image: linear-gradient(rgba(250, 247, 247, 0.7),rgba(253, 252, 252, 0.7)),url('flor.jpg');
    border-radius: 10px; /* Esquinas redondeadas */
    text-align: justify;
    display: flex; /* Centrar contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    font-family: 'Arial', sans-serif; /* Fuente legible */
    font-size: 1.2rem; /* Tamaño de texto adecuado */
    color: #000; /* Color del texto */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    transition: transform 0.3s, box-shadow 0.3s; /* Transiciones suaves */
    cursor: pointer; /* Indica interactividad */
    padding: 5px;
}

.metas-integrales-item:first-child{
  grid-column: span 2;
}
.metas-integrales-item:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3); /* Incrementa la sombra para más profundidad */
    background-color: #ffd700; /* Cambia a un color dorado más brillante */
}

.metas-integrales-item p{
    margin: 10px;
}

.categories {
    display: flex;
    justify-content:space-between; /* Espacio entre divisiones */
    align-items:stretch; /* Alinea los ítems al inicio */
    gap: 20px; /* Separación entre bloques */
    margin: 30px;
    flex-wrap: wrap; /* Permite que las divisiones se ajusten en pantallas pequeñas */
  }
  
  .category {
    width: 38vh; /* Tamaño fijo para cada división */
    height: auto;
    background-image: linear-gradient(rgba(250, 247, 247, 0.7),rgba(253, 252, 252, 0.7)),url('flor.jpg');/* Fondo degradado suave */
    border: 2px solid #d4af37; /* Borde dorado */
    border-radius: 10px; /* Esquinas redondeadas */
    padding: 15px; /* Espaciado interno */
    text-align: center; /* Centra el contenido */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s, box-shadow 0.3s; /* Efecto de hover */
    padding: 5px;
   
  }
  
  .category:hover {
    transform: scale(1.05); /* Zoom al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Más sombra en hover */
  }
  
  .logo {
    width: 80px; /* Tamaño del logo */
    height: 80px;
    margin-bottom: 10px; /* Separación con el texto */
  }
  
 
  
  .grid {
    margin:30px;
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 1fr)); /* Ajusta las columnas automáticamente */
    gap: 20px;
    padding: 10px;
  }
  
  .grid-item {
    background-image: linear-gradient(rgba(253, 253, 253, 0.458),rgba(204, 202, 202, 0.438));
  backdrop-filter: blur(15px); /* Efecto de desenfoque */ /* Degradado dorado */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra elegante */
    color: black; /* Texto blanco */
    position: relative; /* Para el efecto de brillito */
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s; /* Transiciones suaves */
  }
  
  .grid-item h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #d4af37; /* Blanco */
  }
  
  .grid-item p {
    font-size: 1rem;
    line-height: 1.5;
    color: black;
  }
  
  /* Efecto de hover */
  .grid-item:hover {
    transform: scale(1.03); /* Zoom ligero */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Más sombra */
  }
  
  .grid-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transform: skewX(-45deg); /* Inclinación para el efecto de brillo */
    transition: left 0.5s ease;
  }
  
  .grid-item:hover::after {
    left: 100%; /* Mueve el brillo */
  }
 
  
  .quote-block {
    border-top: 2px solid #d4af37;
  border-bottom: 2px solid #d4af37;
  margin: 40px 0 40px 0;
  background-image: linear-gradient(rgba(253, 253, 253, 0.895),rgba(255, 255, 255, 0.743)),url('mandala.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  padding: 50px;
  }
  
  .quote-block h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color:  #d4af37 /* Color marrón elegante */;
    text-transform: uppercase;
  }
  
  blockquote {
    margin: 0;
    padding-left: 15px;
    color:black; /* Texto gris oscuro */
    
  }
  
  blockquote p {
    margin-bottom: 15px;
  }
  
  blockquote footer {
    margin-top: 15px;
    text-align: right;
    color: black;
    font-weight: bold;
  }
  
  blockquote cite {
    font-style: normal;
  }
  
  /* Efecto de hover para resaltar */
  .quote-block:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Más sombra */
    transform: translateY(-5px); /* Ligero movimiento hacia arriba */
    transition: all 0.3s ease;
  }

 
  
  .methodology-container {
   
    background-image: linear-gradient(rgba(250, 247, 247, 0.7),rgba(253, 252, 252, 0.7)),url('flor.jpg');
  
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #4a4a4a;
  }
  

  
  .phase {
    margin-bottom: 20px;
  }
  

  
  .phase ul {
    padding-left: 20px;
  }
  
  .phase ul li {
    margin-bottom: 10px;
  }
  
  .sessions {
    margin-top: 30px;
  }
  
  .session-group {
   
  background-image: linear-gradient(rgba(253, 253, 253, 0.458),rgba(204, 202, 202, 0.438));
  backdrop-filter: blur(15px); /* Efecto de desenfoque */
  margin-bottom: 25px;
    padding: 15px;
    border-left: 3px solid #d4af37;
    border-radius: 5px;
  }
  
  .session-group h5 {
    color: black;
    margin-bottom: 10px;
  }
  
  .session-group p {
    margin: 0;
    color: black;
  }
  
  /* Efecto de hover */
  .methodology-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }

  
  
  .profile-container {
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgba(250, 247, 247, 0.7),rgba(253, 252, 252, 0.7)),url('flor.jpg');
    box-shadow: 0 4px 8px rgba(255, 227, 44, 0.1);
    padding: 40px;
    margin: 100px 30px 100px 30px;
    border: 2px solid #d4af37;
    background-size: cover;
    backdrop-filter: blur(15px);
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .profile-image {
    flex-shrink: 0;
    width: 25%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
    border: 3px solid #d4af37;
    text-align: center;
    justify-content: center;
  }
  
  .profile-content h3 {
    color:  #d4af37;
    margin-bottom: 15px;
  }
  
  .profile-content ul {
    list-style: none;
    padding: 0;
  }
  
  .profile-content ul li {
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative;
    font-size: 16px;
  }
  
  .profile-content ul li:before {
    content: "●";
    color: #d4af37;
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 18px;
  }


  
 
  
  .methodology-container,
  .guidelines-container {
    background-image: linear-gradient(rgba(250, 247, 247, 0.7),rgba(253, 252, 252, 0.7)),url('flor.jpg');
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 60px 20px 60px 20px;
    border: 2px solid #d4af37;
    margin: 100px 30px 100px 30px;
  }
  
  .methodology-content,
  .guidelines-content {
    padding: 10px;
  }
  
  .methodology-content p {
    font-size: 16px;
    margin-bottom: 12px;
  }
  
  .guidelines-content ul {
    list-style-type: square;
    padding-left: 20px;
  }
  
  .guidelines-content ul li {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .methodology-container {
    background-image: linear-gradient(rgba(250, 247, 247, 0.7),rgba(253, 252, 252, 0.7)),url('flor.jpg');
  }
  
  .guidelines-container {
    background: #f0f8ff;
  }
  
  .aspectosdiferenciales{
  border: 2px solid #d4af37;
  background-image: linear-gradient(rgba(253, 253, 253, 0.458),rgba(204, 202, 202, 0.438)),url('monumento.jpg');
  background-size: cover;
  backdrop-filter: blur(15px); /* Efecto de desenfoque */
  padding:30px;
  margin:100px 0 100px 0;
  background-attachment: fixed;
  }
  .p__center{
    text-align: center;
  }

  .h4__metodologia{
    font-size: 20px;
    color: #d4af37;
    text-align: left;
    margin: 20px 0px 20px 0px;
  }

  .ul__metodologia{
    list-style-type: none;
    margin:0px;
  }

  li{
    text-decoration: none;
  }
  
  .quote{
    text-align: center;
    color: #d4af37;
  }

  .me{
    text-align: center;
    color: black;
    margin-bottom: 30px;
  }
 
  .p__category{
    text-align: center;
  }
  .dos{
    text-align: justify;
  }

  .footer {
    background: linear-gradient(to right, #d4af37, #ffffff, #d4af37); /* Gradiente dorado */
    padding: 30px 10px;
    color: #333; /* Color de texto */
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Secciones del footer */
  .footer-section {
    flex: 1 1 300px;
    margin: 10px;
    text-align: center;
  }
  
  /* Logo */
  .footer-logo {
    max-width: 100px;
    margin-bottom: 10px;
  }
  
  .footer-title {
    font-size: 1.5em;
    font-weight: 700;
    color: #444;
  }
  
  /* Contacto */
  .footer-section.contacto p {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
  }

  .footer-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 50%; /* Forma circular */
    width: 120px; /* Tamaño del círculo */
    height: 120px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra suave */
    margin: 0 auto 10px auto; /* Centrado */
  }

  @media (max-width: 768px) {
    h4{
      font-size: 25px;
    }
    h3{
      font-size: 20px;
    }
    p{
      font-size: 16px;
    }
    .metas-integrales {
     
      grid-template-columns: 1fr; 
  }
  .categories{ justify-content:center;}

  .header-viveka{flex-direction: column;}

  .navbar ul{
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .category{
    align-content: center;
  }
  
  .header-container {
    flex-direction: column; /* Coloca logo y texto en una sola columna */
    gap: 2vh; /* Reduce el espacio entre ellos */
    height: auto; /* Ajusta la altura automáticamente */
  }
  
  .header-text {
    font-size: 5vh; /* Reduce el tamaño del texto */
  }
  
  .header-logo {
    max-height: 10vh; /* Reduce el tamaño máximo del logo */
  }
  .header-viveka{
    flex-direction: column;
    border-bottom: 3px solid #d4af37;
    border-left: none;

  }
  }